<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 권한 선언은 무조건 application 태그 밖에 위치 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 최신 기기 대응하려면 추가 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- 카메라 사용 권한 -->
    <uses-permission android:name="android.permission.CAMERA" /> 
    <!-- 카메라 쓰기 사용 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="28"
        tools:ignore="GoogleAppIndexingWarning" />
</manifest>
